@import url("./fonts.css");

* {
    box-sizing: border-box;
    text-transform: capitalize !important;
    font-family: ubuntu, zain !important;
}

:root {
    font-size: 16px;
    --background: #fff;
    --primary: #162343;
    --white: #fff;
    --black: #000;
    --red: #fd0000;
    --green: #00eb1d;
}

html,
body {
    overflow-x: hidden;
}

body {
    background-color: var(--background) !important;
    transition: all 0.3s ease-in-out;
}

section {
    padding: 20px 0px;
}

nav {
    position: sticky;
    top: 10px;
    left: 0;
    padding: 8px;
    background-color: var(--primary);
    width: 95% !important;
    margin: 0 auto !important;
    border-radius: 20px;
    z-index: 111;
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;

    .logInBtn {
        padding: 5px 10px;
        border: none;
        border-radius: 10px;
        background-color: transparent;
        align-items: start;

        a {
            color: var(--green);
            filter: drop-shadow(0 0 10px var(--green));
            text-decoration: none;
            font-weight: bold;
        }
    }

    .logoutBtn {
        padding: 0;
        border: none;
        border-radius: 10px;
        background-color: transparent;
        color: var(--red);
        filter: drop-shadow(0 0 10px var(--red));
    }

    .navHomeBtn {
        background-color: transparent;
        border: none;
        a {
            text-decoration: none;
            font-weight: bold;
        }
    }
}

.startNav {
    justify-content: end !important;
}

.bgLayer {
    position: absolute;
    inset: 0;
    z-index: -1;
    background-image: url("/public/imgs/landingPageBG.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(30%);
}

.landingPage {
    .innerDev {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: max-content !important;

        .text {
            color: var(--white) !important;
        }

        .action {
            padding: 10px 0px;

            .signUpBtn {
                padding: 5px 10px;
                border: none;
                border-radius: 10px;
                background-color: var(--primary);

                a {
                    color: var(--white);
                    text-decoration: none;
                    font-weight: bold;
                }
            }
        }
    }
}

.logForm {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    background-color: var(--primary);
    color: var(--white);
    padding: 10px 5px;
    border-radius: 10px;

    .inputContainer {
        margin: 10px 0px;
        input {
            width: 100% !important;
            background-color: var(--white);
            color: var(--primary);
            border-radius: 10px;
            border: none;
            padding: 5px;
            width: fit-content;
            text-transform: none !important;

            &:focus {
                outline: none;
            }
        }
    }

    .logBtn {
        padding: 5px 10px;
        border: none;
        border-radius: 10px;
        background-color: var(--white);
        color: var(--primary);
        font-weight: bold;
    }
}

.home {
    .balance {
        background-color: var(--primary);
        color: var(--white);
        border-radius: 20px;
        width: max-content;

        h3 {
            font-size: 2.188rem;
            margin-bottom: 0;
        }

        h1 {
            font-size: 3.75rem;
            margin-bottom: 0;

            span {
                margin-inline-start: 10px;
                cursor: pointer;
                svg {
                    font-size: 1.875rem;
                    color: var(--text);
                }
            }
        }
    }

    .actions {
        padding: 8px 0px;
        gap: 10px;

        button {
            padding: 0px;
            border: none;
            font-weight: bold;
            border-radius: 10px;
            background-color: transparent;

            img {
                width: 35px;
            }
        }
    }

    .recent {
        h4 {
            background-color: var(--primary);
            padding: 5px;
            font-size: 1.125rem;
            border-radius: 10px;
            color: var(--white);
            width: fit-content !important;

            svg {
                margin-inline-start: 5px;
                font-size: 0.625rem;
            }

            .delLog {
                cursor: pointer;
                margin-inline-start: 5px;

                svg {
                    font-size: 20px;
                }
            }
        }

        button {
            padding: 5px 10px;
            background-color: var(--primary);
            border: none;
            border-radius: 10px;
            a {
                text-decoration: none;
                color: var(--white);
                font-weight: bold;
            }
        }
    }
}

.toHomeBtn {
    position: fixed;
    top: 10px;
    left: 10px;
    padding: 5px 10px;
    background-color: var(--primary);
    border: none;
    border-radius: 10px;

    a {
        color: var(--white);
        text-decoration: none;
    }
}

.moneyModal {
    border-radius: 10px;
    backdrop-filter: blur(10px);
    color: var(--white);
    padding: 10px;

    label {
        display: block;
        padding-bottom: 5px;
    }

    input,
    select,
    textarea {
        padding: 5px;
        border-radius: 10px;
        background-color: var(--white);
        color: var(--primary);
        border: none;

        &:focus {
            outline: none;
        }
    }

    button {
        padding: 5px 10px;
        border-radius: 10px;
        background-color: var(--white);
        backdrop-filter: blur(10px);
        border: none;
        color: var(--primary) !important;
        font-weight: bold;
    }
}

.transactions {
    color: var(--text);

    .spendReport {
        .spendItem {
            width: fit-content;
            background-color: var(--primary);
            backdrop-filter: blur(10px);
            border-radius: 20px;
            color: var(--white) !important;
            padding: 10px;

            h3 {
                font-size: 1.25rem;
            }
            h1 {
                font-size: 1.875rem;
            }
        }
    }

    .logs {
        h5 {
            padding: 0.313rem 0rem;
            font-size: 1rem;

            svg {
                margin-inline-start: 5px;
                font-size: 0.625rem;
            }

            .delLog {
                cursor: pointer;
                margin-inline-start: 5px;
                svg {
                    font-size: 20px;
                    color: var(--btns_1) !important;
                }
            }
        }
    }
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

::-webkit-scrollbar {
    display: none;
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@media screen and (max-width: 992px) {
    :root {
        font-size: 14px;
    }
}
